@media screen and (max-width : 689px) {
    .wrapper3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .wrapper2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

@media screen and (max-width : 330px) {
    .wrapper4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapper5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
}